{% extends 'base.html' %}
{% load static %}
{% block context %}

<div class="card-footer" style="background-color: white;"> 
    <div class="text-center" style="display:flex;justify-content: end; background-color: white;">
      <a href="{% url 'igreja' igreja.id %}" class="button">Voltar</a>
    </div>
  </div>
  <br>
  

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="content col-md-8">
                    <h2 class="section-title">Lista de Celulas</h2>
                    <br>
                    <br>
                    <div class="row">
                        
                        {% if celulas %}
                        {% for celula in celulas %}
                        <div class="family">
                            <a href="{% url 'celula' igreja.id celula.id %}">
                                <h3 class="family-name"><i class="fas fa-church"></i> {{celula.nome}}</h3>
                                <img src="{{celula.foto.url}}" alt="" class="family-image" style="height: 200px;">
                                <h3 class="family-name"><i class="fas fa-user"></i> Responsavel: {{celula.lider}}</h3>
                                <small>Ministerio: {{celula.ministerio}}</small>
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <h1>Nenhuma celula registrada</h1>
                        </div>
                        {% endif %}
                    </div>
             
                </div>
            <!-- Sidebar -->
            <div class="sidebar col-md-3 col-md-offset-1" style="display: inline-block;">
            
            
            <div style="display: flex; justify-content: center;">
            <h3>Categorias</h3>
            </div>

            <div style="align-items: center;">        
            <ul class="arrow">
            <a href="{% url 'celula_oracao' igreja.id %}"><li>Oracao</li></a>
            <a href="{% url 'celula_musica' igreja.id %}"><li>Musica</li></a>
            <a href="{% url 'celula_integracao' igreja.id %}"><li>Integracao</li></a>
            <a href="{% url 'celula_estudo' igreja.id %}"><li>Estudo biblico</li></a>
            </ul>
            </div>
            
        </div>
            </div>
            <!-- Sidebar -->  
                            <!-- paage simple -->
                            <div class="pagination" style="display: flex; justify-content: center; align-items: baseline;">
                                <div >
                                {% if celulas.has_previous %}
                                    <a href="?p={{ celulas.previous_page_number }}">previous</a>
                                {% endif %}
                               </div>
                               &nbsp
                               &nbsp
                                <nav aria-label="Page navigation exemple">
                                    <ul class="pagination">
                                        {% for pagina in celulas.paginator.page_range %}
                                        {% if celulas.number == pagina %}
                                        <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">
                                            {{pagina}}</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item"><a class="page-link" href="?p={{ pagina }}">
                                            {{pagina}}</a></li>
                                        {% endif %}
                                       {% endfor %}
                                    </ul>
                                </nav>
                                &nbsp
                                &nbsp
                            <div>
                                {% if celulas.has_next %}
                                    <a href="?p={{ celulas.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                        <!-- endpage -->  
        </div>
        </div>
    </div>
</main> <!-- .main-content -->


{% endblock %}
{% block script %}

{% endblock %}