{% extends 'base.html' %}
{% block context %}

            {% if celula %}
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ celula.nome }}</h5>
                        <p class="card-text">{{ igreja.descricao }}</p>
                        <p class="card-text"><small class="text-muted">{{ igreja.pastor }}</small></p>
                    </div>
                </div>

            </div>
    {% endif %}
{% endblock context %}