{% extends 'base.html' %}
{% load bootstrap4 %}

{% block context %}
    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Endereco</th>
            <th scope="col">Igreja</th>
            <th scope="col">Lider</th>
            <th scope="col">Acao</th>
        </tr>
        </thead>

        <tbody>
        {% for iten in celula %}

            <tr>
                <td>{{ iten.nome_celula }}</td>
                <td>{{ iten.endereco }}</td>
                <td>{{ iten.igreja_mae }}</td>
                <td>{{ iten.lider_celula }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'celulaAtualizar' iten.pk %}" >Editar</a>
                    <a class="btn btn-danger" href="{% url 'celulaDeletar' iten.pk %}" >Deletar</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>

    </table>
    <a class="btn btn-success" href="{% url 'celulaAdicionar' %}">Adicionar</a>
{% endblock %}