{% extends 'base.html' %}
{% load static %}
{% block context %}


<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row" style="justify-content: center;">

                {{celula}}
                <div class="content col-md-8">
                    <div class="card mb-3">
                        <img
                          src="https://mdbootstrap.com/img/new/slides/041.jpg"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.
                          </p>
                          <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                          </p>
                        </div>  
                    </div>
                </div>
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>


{% endblock %}
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}
