{% extends 'base.html' %}
{% block context %}
{#    {% if igreja %}#}
{#        {% for i in igreja %}#}
            {{ igreja.nome }}
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.nome }}</h5>
                        <p class="card-text">{{ i.descricao }}</p>
                        <p class="card-text"><small class="text-muted">{{ i.pastor }}</small></p>
                        <a href="" class="btn btn-primary btn-sm">Celulas</a>
                        <a href="" class="btn btn-primary btn-sm">Lideres</a>
                    </div>
                </div>

            </div>
{#        {% endfor %}#}
{#    {% endif %}#}

{% endblock context %}