{% extends 'base.html' %}
{% load static %}
{% block context %}


<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="content col-md-8">
                    <h2 class="section-title">Lista de igrejas</h2>
                    <br>
                    <br>
                    <div class="row">
                        {% for igreja in igrejas %}
                        <div class="family">
                            <a href="{% url 'igreja' igreja.id %}">
                                <h2 class="family-name">{{igreja.nome}}</h2>
                                <img src="{% static 'img/news-thumb-2.jpg' %}" alt="" class="family-image">
                                <h3 class="family-name">{{igreja.pastor}}</h3>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            <!-- Sidebar -->
            {% include 'eventos.html' %}
            <!-- Sidebar -->    
           
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>

{% endblock %}
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}
