{% extends 'base.html' %}
{% load static %}
{% block context %}
    {% if igrejas %}
    {% for igreja in igrejas %}
    <div class="card-deck">
            <div class="card" >
{#                <img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-body">
                    <h5 class="card-title">{{ igreja.nome }}</h5>
                    <p class="card-text">{{ igreja.descricao }}</p>
                    <p class="card-text"><small class="text-muted">{{ igreja.pastor }}</small></p>
                    <a href="{% url 'igreja' igreja.id %}" class="btn btn-primary btn-sm">Detalhes</a>
                <!-- modal -->

     <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Deletar
     </button>


                </div>
            </div>
    </div>
     
{% endfor %}

        <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>



<div class="pagination">
    <span class="step-links">
        {% if igrejas.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ igrejas.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ igrejas.number }} of {{ igrejas.paginator.num_pages }}.
        </span>

        {% if igrejas.has_next %}
            <a href="?page={{ igrejas.next_page_number }}">next</a>
            <a href="?page={{ igrejas.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endif %}

    {% if igrejasfiltro %}
        {% for igreja in igrejasfiltro %}
            <div class="card-deck">
            <div class="card" >
{#                <img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-body">
                    <h5 class="card-title">{{ igreja.nome }}</h5>
                    <p class="card-text">{{ igreja.descricao }}</p>
                    <p class="card-text"><small class="text-muted">{{ igreja.pastor }}</small></p>
                    <a href="{% url 'igreja' igreja.id %}" class="btn btn-primary btn-sm">Detalhes</a>
                </div>
            </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="pagination">
    <span class="step-links">
        {% if igrejasfiltro.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ igrejasfiltro.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ igrejasfiltro.number }} of {{ igrejasfiltro.paginator.num_pages }}.
        </span>

        {% if igrejasfiltro.has_next %}
            <a href="?page={{ igrejasfiltro.next_page_number }}">next</a>
            <a href="?page={{ igrejasfiltro.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}
    <button onclick="teste()">BOTAO</button>
{% endblock context %}