{% extends 'base.html' %}
{% load static %}
{% block context %}
<div class="card-footer" style="background-color: white;"> 
<div class="text-center" style="display:flex;justify-content: end; background-color: white;">
<a href="{% url 'igrejas' %}" class="button">Voltar</a>
</div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
<!-- Igreja -->
<div class="col">
<div class="card h-100">
<img src="{% static 'environments/igrejabanner.jpeg' %}" class="card-img-top" alt="" style="height:200px;">
<div class="card-body">
<h2 class="card-title"><i class="fas fa-church"></i> {{igreja.nome}}</h2>
<small><i class="fas fa-user"></i> pastor: {{igreja.pastor}}</small>
<br><br>
<p class="card-text"><i class="fas fa-pencil-alt"></i> Descricao: {{igreja.descricao}}
 </p>
 <small><i class="fas fa-map-marker-alt"></i> endereco: {{igreja.endereco}}</small>
</div>
<div class="card-footer">
<div class="text-center">
<button class="button">Telefone para contato: {{igreja.contato}}</button>
</div>
</div>
</div>
</div>
<!-- IgrejaEnd -->
<!-- Grupos -->
<div class="col">
<div class="card h-100">
<img src="{% static 'environments/grupobanner.png' %}" class="card-img-top" alt="..." style="height:200px;">
<div class="card-body">
<h5 class="card-title">Grupos</h5>
<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="col mb-3">
<div class="card h-100 bg-success mb-3 text-white">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Grupo de integracao</h5>
<p class="card-text">Grupo feito para criar e incentivar atividades de integracao</p>
</div>
</div>
</div>
<div class="col mb-3">
<div class="card h-100 bg-warning mb-3 text-white">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Grupo de Musicas</h5>
<p class="card-text">Grupo feito para criar e incentivar atividades de musicas</p>
</div>
</div>
</div>
<div class="col mb-3">
<div class="card h-100 mb-3 text-white" style="background-color: rgb(82, 170, 211);">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Grupo de Oracao</h5>
<p class="card-text">Grupo feito para criar e incentivar atividades de oracao em grupo</p>
</div>
</div>
</div>
<div class="col mb-3">
<div class="card h-100 bg-info mb-3 text-white">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Grupo de estudo</h5>
<p class="card-text">Grupo feito para criar e incentivar estudos biblicos</p>
</div>
</div>
</div>
</div>
</div>
<div class="card-footer">
<div class="text-center">
<a href="{% url 'celulas' igreja.id %}" class="button">Veja todas as celulas dessa Igreja</a>
</div>
</div>
</div>
</div>
<!-- GruposEnd -->
<!-- Lider -->
<div class="col">
<div class="card h-100">
<img src="{% static 'environments/leaderbanner3.png' %}" class="card-img-top" alt="..." style="height:200px;">
<div class="card-body">
<h5 class="card-title">Grupos</h5>
<div class="row row-cols-1 row-cols-md-2 g-4">
<div class="col mb-3">
<div class="card h-100 bg-success mb-3 text-white">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Lideres de integracao</h5>
<p class="card-text">Lideres capacitados para ajudar em integracao</p>
</div>
</div>
</div>
<div class="col mb-3">
<div class="card h-100 bg-warning mb-3 text-white">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Lideres de Musicas</h5>
<p class="card-text">Lideres capacitados para ajudar no ministerio de musica</p>
</div>
</div>
</div>
<div class="col mb-3">
<div class="card h-100 mb-3 text-white" style="background-color: rgb(82, 170, 211)">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Lideres de Oracao</h5>
<p class="card-text">Lideres capacitados para ajudar e ensinar a orar</p>
</div>
</div>
</div>
<div class="col mb-3">
<div class="card h-100 bg-info mb-3 text-white">
<img src="" class="card-img-top" alt="">
<div class="card-body">
<h5 class="card-title">Lideres de estudo biblico</h5>
<p class="card-text">Lideres capacitados para ajudar no entendimento da palavra</p>
</div>
</div>
</div>
</div>
</div>
<div class="card-footer"> 
<div class="text-center">
<a href="{% url 'lideres' igreja.id %}" class="button">Veja toda a Liderenca</a>
</div>
</div>
</div>
</div>
<!-- CardEnd -->
</div>
</div>
</div>
<!-- LiderEnd -->
</div>
{% endblock %}