{% extends 'base.html' %}
{% load static %}
{% block context %}
<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="content col-md-8">
                    <h2 class="section-title">Lista de igrejas</h2>
                    
                    <div class="row">
                        {% if igreja_search %}
                        {% for igreja in igreja_search %}
                        <div class="family">
                            <a href="{% url 'igreja' igreja.id %}">
                            <h2 class="family-name"><i class="fas fa-church"></i> {{igreja.nome}}</h2>
                            <img src="{{ igreja.foto.url }}" alt="" class="family-image">
                            <h3 class="family-name"><i class="fas fa-user"></i> {{igreja.nome}}</h3>k
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <h1>Nenhuma igreja com esse nome</h1>
                        </div>
                        {% endif %}
                    </div>
             
                </div>
            <!-- Sidebar -->
            {% include 'eventos.html' %}
            <!-- Sidebar -->    
           
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}