{% extends 'base.html' %}
{% load static %}
{% block context %}



<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="content col-md-8">
                    <h2 class="section-title">Lista de lideres</h2>
                  <br>
                  <br>
                    <div class="row">
                        {% if lideres %}
                        {% for lider in lideres %}
                        <div class="family">
                            <a href="{% url 'lider' igreja.id lider.id %}">
                            <h3 class="family-name">{{lider.igreja}}</h3>
                            <img src="{{lider.foto.url}}" alt="" class="family-image" style="height: 200px;">
                            <h3 class="family-name">{{lider.nome}}</h3>
                            </a>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <h1>Nenhum lider no momento relaciondado com essa igreja</h1>
                        </div>
                        {% endif %}
                    </div>
             
                </div>
            <!-- Sidebar -->
            {% include 'eventos.html' %}
            <!-- Sidebar -->    
           
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>

{% endblock %}
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}