{% extends 'dashboard/dashboard.html' %}

{% block context %}
<center>
  <div>
    Clique aqui para adicionar: <a href="{% url 'dashboard_eventos_create' %}" class="btn btn-success">Adicionar</a>
  </div>
  </center>
  <br><br><br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Eventos</th>
        <th scope="col">Acoes</th>
      </tr>
    </thead>

    <tbody>
      {% for evento in eventos %}
      <tr>
        <th scope="row">{{evento.nome}}</th>
        <td>
          <a href="{% url 'dashboard_eventos_update' evento.id %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'dashboard_eventos_delete' evento.id %}" class="btn btn-danger">Deletar</a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
    </tbody>
  </table>
{% endblock %}