body {
    background-color: #0000FF;
    color: yellowgreen;
}

h1 {
    color: blueviolet;
    font-weight: bold;
}
h2 {
    color: green;
    font-size: large;
}
h3 {
    color:yellow;
    font-style: italic;
    margin-left: 200px;
}
