{% extends 'base.html' %}
{% block context %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'mocidade' %}">Igrejas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categoria
          </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for ministerio in teste %}
                <li><a class="dropdown-item" href="{% url 'categoriafiltro' ministerio.id %}">{{ ministerio.ministerio}}</a></li>
                {% endfor %}
                </ul>
        </li>
      </ul>
{#      <form class="form-inline ml-3" action="{% url 'categoriafiltro' categoria_id %}", method="GET">#}
{#            <div class="input-group">#}
{#                <input type="text" name="nome" class="form-control" placeholder="Search">#}
{#                <div class="input-group-append">#}
{#                    <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>#}
{#                </div>#}
{#            </div>#}
{#        </form>#}
    </div>
  </div>
</nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Celula</th>
            <th scope="col">Igreja</th>
            <th scope="col">Ministerio</th>
           </tr>
        </thead>

        <tbody>

        {% for jovemzim in jovensministerios.jovens_set.all %}
        <tr>
        <th>{{ jovemzim.nome }}</th>
        <th>{{ jovemzim.igreja }}</th>
        <th>{{ jovemzim.celula }}</th>
        <th>{{ jovemzim.ministerio }}</th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}