{% extends 'base.html' %}
{% load static %}
{% block context %}
<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row" style="justify-content: center;">

              <div class="content col-md-8">
                    <div class="card mb-3">
                        <img
                          src="{{celula_integracao.foto.url}}"
                          style="height: 500px;"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h2><i class="fas fa-user"></i> Lider: {{celula_integracao.lider}}</h2>
                          <h5 class="card-title"><i class="fas fa-church"></i> Nome do grupo: {{celula_integracao.nome}}</h5>
                          <br>
                          <p class="card-text"><i class="fas fa-pencil-alt"></i> Descricao: {{celula_integracao.descricao}}
                          </p>
                          <p class="card-text">
                            <small class="text-muted"><i class="fas fa-phone-alt"></i> Contato: {{celula_integracao.contato}}</small>
                          </p>
                        </div>  
                    </div>
                </div>
                <div class="text-center">
                  <a href="{% url 'jovens_ministerio_integracao' igreja.id celula_integracao.id %}" class="button">Confira os jovens dessa celula</a>
                </div>
        </div>
        </div>
    </div>
</main> <!-- .main-content -->
</div>
{% endblock %}
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}