{% extends 'dashboard/dashboard.html' %}

{% block context %}
<center>
<div>
  Clique aqui para adicionar: <a href="{% url 'dashboard_jovens_create' %}" class="btn btn-success">Adicionar</a>
</div>
</center>
<br><br><br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Jovens</th>
        <th scope="col">Acoes</th>
      </tr>
    </thead>

    <tbody>
      {% for jovem in jovens %}
      <tr>
        <th scope="row">{{jovem.nome}}</th>
        <td>
          <a href="{% url 'dashboard_jovens_update' jovem.id %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'dashboard_jovens_delete' jovem.id %}" class="btn btn-danger">Deletar</a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
    </tbody>
  </table>
      <!-- paage simple -->
      <div class="pagination" style="display: flex; justify-content: center; align-items: baseline;">
        <div >
        {% if jovens.has_previous %}
            <a href="?p={{ jovens.previous_page_number }}">previous</a>
        {% endif %}
       </div>
       &nbsp
       &nbsp
        <nav aria-label="Page navigation exemple">
            <ul class="pagination">
                {% for pagina in jovens.paginator.page_range %}
                {% if jovens.number == pagina %}
                <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">
                    {{pagina}}</a>
                </li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?p={{ pagina }}">
                    {{pagina}}</a></li>
                {% endif %}
               {% endfor %}
            </ul>
        </nav>
        &nbsp
        &nbsp
    <div>
        {% if jovens.has_next %}
            <a href="?p={{ jovens.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<!-- endpage -->
{% endblock %}