{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Create New Account
{% endblock %}
{% block context %}
<div>
{% if not form.is_valid %}
<div class="mx-auto">
<br>
<h1 class="product_title text-center">
Create a new account
</h1>
<br>
<center>
<div class="mx-auto bg-dark">
<br>
<p>Enter the following information to create a new account</p>
<form method="post">
{% csrf_token %}
<p>{{ form | crispy }}</p>
<button type="submit" name="button" class="btn btn-secondary">Sign Up</button>
</form>
<br>
</div>
</center>
</div>
{% else %}

<div class="mx-auto">
<br>
<h1 class="product_title text-center">
A sua conta foi criada com sucesso!
</h1>
{% endif %}
</div>
<br>
{% endblock %}