{% extends 'base.html' %}
{% load bootstrap4 %}
{% block context %}
    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">Nome da atividade</th>
            <th scope="col">descreva_atividade</th>
            <th scope="col">Data</th>
            <th scope="col">igreja_mae</th>
            <th scope="col">acao</th>
        </tr>
        </thead>

        <tbody>
        {% for registroA in RegistrosA %}

            <tr>
                <td>{{ registroA.nome_atividade }}</td>
                <td>{{ registroA.descreva_atividade }}</td>
                <td>{{ registroA.Data }}</td>
                <td>{{ registroA.igreja_mae }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'atividadeAtualizar' registroA.pk %}" >Editar</a>
                    <a class="btn btn-danger" href="{% url 'atividadeDeletar' registroA.pk %}" >Deletar</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>

    </table>
    <a class="btn btn-success" href="{% url 'atividadeAdicionar' %}">Adicionar</a>
{% endblock %}