{% extends 'dashboard/dashboard.html' %}

{% block context %}
<center>
  <div>
    Clique aqui para adicionar: <a href="{% url 'dashboard_igrejas_create' %}" class="btn btn-success">Adicionar</a>
  </div>
  </center>
  <br><br><br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Igreja</th>
        <th scope="col">Pastor</th>
        <th scope="col">Acoes</th>
      </tr>
    </thead>

    <tbody>
      {% for igreja in igrejas %}
      <tr>
        <th scope="row">{{igreja.nome}}</th>
        <td>{{igreja.pastor}}</td>
        <td>
          <a href="{% url 'dashboard_igrejas_update' igreja.id %}" class="btn btn-warning">Editar</a>
          <a href="{% url 'dashboard_igrejas_delete' igreja.id %}" class="btn btn-danger">Deletar</a> 
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
    </tbody>
  </table>
        <!-- paage simple -->
        <div class="pagination" style="display: flex; justify-content: center; align-items: baseline;">
          <div >
          {% if igrejas.has_previous %}
              <a href="?p={{ igrejas.previous_page_number }}">previous</a>
          {% endif %}
         </div>
         &nbsp
         &nbsp
          <nav aria-label="Page navigation exemple">
              <ul class="pagination">
                  {% for pagina in igrejas.paginator.page_range %}
                  {% if igrejas.number == pagina %}
                  <li class="page-item active"><a class="page-link" href="?p={{ pagina }}">
                      {{pagina}}</a>
                  </li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?p={{ pagina }}">
                      {{pagina}}</a></li>
                  {% endif %}
                 {% endfor %}
              </ul>
          </nav>
          &nbsp
          &nbsp
      <div>
          {% if igrejas.has_next %}
              <a href="?p={{ igrejas.next_page_number }}">next</a>
          {% endif %}
      </span>
  </div>
  <!-- endpage -->
{% endblock %}