{% extends 'base.html' %}
{% load static %}
{% block context %}
	<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="">
								
								<h2 class="section-title">Proximas serimonias</h2>
								<ul class="seremon-list large">
								
									<li>
										<img src="#/" alt="">
										<div class="seremon-detail">
											<h3 class="seremon-title"><a href="#/">I believe in god with all my heart</a></h3>
											<div class="seremon-meta">
												<div class="pastor"><i class="fa fa-user"></i> Alan Ray</div>
												<div class="date"><i class="fa fa-calendar"></i> 18 mar 2014</div>
											</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam molestiae doloribus deserunt minus a dicta labore beatae maiores assumenda. Laudantium nihil, maxime molestiae soluta doloribus magnam eum. Nesciunt, ea, sint.</p>
										</div>
									</li>
								
								</ul>

								<h2 class="section-title">Ultimas serimonias</h2>
								<ul class="seremon-list large">
								
									<li>
										<img src="#/" alt="">
										<div class="seremon-detail">
											<h3 class="seremon-title"><a href="#/">I believe in god with all my heart</a></h3>
											<div class="seremon-meta">
												<div class="pastor"><i class="fa fa-user"></i> Alan Ray</div>
												<div class="date"><i class="fa fa-calendar"></i> 18 mar 2014</div>
											</div>
										</div>
									</li>
								
								</ul>
							</div>
						
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->

{% endblock %}