{% extends 'base.html' %}
{% load static %}
{% block context %}

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row" style="justify-content: center;">

                
                <div class="content col-md-8">
                    <div class="card mb-3">
                        <img
                          src="{{ culto.foto.url }}"
                          style="height: 500px;"
                          class="card-img-top"
                          alt="..."
                        />
                        <div class="card-body">
                          <h2>{{culto.tema}}</h2>
                          <h5 class="card-title">{{culto.pastor}}</h5>
                          <p class="card-text">
                          {{culto.descricao}}
                          </p>
                          <p class="card-text">
                            <small class="text-muted">{{culto.data}}</small>
                          </p>
                        </div>  
                    </div>
                </div>
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>

{% endblock %}
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}