{% extends 'base.html' %}
{% load static %}
{% block context %}

	<div class="site-content">
			<main class="main-content">

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							
						<!-- <center> -->
							<div>
								<h2 class="section-title">Upcoming Events</h2>
								<ul class="event-list large">
									
									<li>
										<h3 class="event-title"><a href="#/">TITULO</a></h3>
										<span class="event-meta">
											<span><i class="fa fa-calendar"></i>DATA</span>
											<span><i class="fa fa-map-marker"></i> LOCAL</span>
										</span>
										<p>DESCRICAO.</p>
										</li>
								<Ul>
							</div>
						<!-- </center> -->

						</div>
					</div>
				</div>

			</main>
{% endblock %}