{% extends 'base.html' %}
{% load static %}
{% block context %}
<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row" style="justify-content: center;" >
                <div class="content col-md-8">
                    <h2 class="section-title">Lista de eventos</h2>
                    <br>
                    <br>
                    <div class="row">     
                        {% for evento in eventos_lista %}
                        <div class="family">
                            <a href="{% url 'evento' evento.pk %}">
                            <img src="{{ evento.foto.url }}" alt="" class="family-image" style="height: 200px;">
                            <h3 class="family-name">{{evento.nome}}</h3>
                            </a>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>

{% endblock %}
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}