{% extends 'base.html' %}
{% load static %}
{% block context %}

<div class="card-footer" style="background-color: white;"> 
    <div class="text-center" style="display:flex;justify-content: end; background-color: white;">
      <a href="{% url 'eventos' %}" class="button">Voltar</a>
    </div>
  </div>
  <br>

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row" style="justify-content: center;">

                
                <div class="content col-md-8">
                    <div class="card mb-3">
                        <img
                          src="{{ evento.foto.url }}"
                          style="height: 500px;"
                          class="card-img-top"
                          alt="..."/>
                        <div class="card-body">
                  <h2 class="card-title"><i class="fas fa-bible"></i> Evento:{{evento.nome}}</h2>
                <br>
                <p class="card-text"><i class="fas fa-pencil-alt"></i> Descricao: {{evento.texto}}</p>
                <p class="card-text">
        <small class="text-muted"><i class="fas fa-map-marker-alt"></i> Local: {{evento.local}}</small>
        <h5><i class="fas fa-calendar-day"></i> Data: {{evento.data}}</h5>
                          </p>
                        </div>  
                    </div>
                </div>
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>

{% endblock %}
{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}