body {
    height: 100%;
}

.sidenav {
  height: inherit;
  width: 150px;
  background-color: red;
}


.sidenav a:hover {
  color: white;
}

/*.main {*/
/*  margin-left: 200px; !* Same as the width of the sidenav *!*/
/*}*/

/*@media screen and (max-height: 450px) {*/
/*  .sidenav {padding-top: 15px;}*/
/*  .sidenav a {font-size: 18px;}*/
/*}*/