{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% bootstrap_css %}
    <title>Igreja Project</title>
    <script src="https://kit.fontawesome.com/ae60b20127.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'style/style.css' %}" media="screen">
<style>

#menu-wrapper {
    overflow: hidden;
    height: 56px;
    background: url({% static "images/img01.gif" %}) repeat-x left top;
}
</style>

</head>

<body>
{% include 'menu.html' %}

<!-- #Main/AsideBar -->
<div id="wrapper">

    <!-- #content -->
    <div id="page" style="margin-right: 320px">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content">
                    {% block context %}
                    {% endblock context %}
                </div>
            </div>
        </div>
<!-- end #content -->

        <!-- #SideBar -->
        <div id="sidebar">
            <ul>
                <li>
                    <h2>Projeto</h2>
                    <p>Baseado nos meus primeiros codigos de django com class based views e certamente com end
                        points</p>
                </li>
                <li>
                    <h2>Igrejas</h2>
                    <ul>
                        <li><a href="{% url 'igrejaHtml' %}">Igreja</a></li>
                        <li><a href="{% url 'celulaHtml' %}">Celulas</a></li>
                        <li><a href="{% url 'liderHtml' %}">Lideres</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Mocidade</h2>
                    <ul>
                        <li><a href="{% url 'mocidade' %}">Jovens</a></li>
                        <li><a href="{% url 'jovemcreate' %}">Registrar</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Registros</h2>
                    <ul>
                        <li><a href="{% url 'pessoalHtml' %}">Registros Pessoais</a></li>
                        <li><a href="{% url 'atividadeHtml' %}">Registros Atividades</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end #sidebar -->
        <div style="clear: both;">&nbsp;</div>
    </div>
</div>
<!-- end #Main/AsideBar -->


{% include 'footer.html' %}

</body>
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
{% endblock %}

</html>