<div class="sidebar col-md-3 col-md-offset-1">
    <div class="widget">
        <center>
           <h3 class="widget-title">Proximos eventos</h3>
        </center>
        
        <ul class="arrow">

{% if eventos %}

{% for evento in eventos %}
    <a href="{% url 'evento' evento.pk %}"><li>{{evento.nome}}</li></a>
{% endfor %}

{% else %}
<center><h2>Nenhum evento no momento</h2></center>
{% endif %}

</ul>
        <br>
        <br>

    <center>
        <div class="widget">
            <h3 class="widget-title">Confira mais eventos</h3>
            <a href="{% url 'eventos' %}" class="button">Lista de Eventos</a>
        </div>
    </center>
    </div>
</div>
