<!-- footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <div class="widget">
            <h3 class="widget-title">Python</h3>
            <p class="colophon">Developer Python Régis</p>      
          </div>
        </div>

        <div class="col-md-6">
          <div class="widget">
            <h3 class="widget-title">Django</h3>
            <ul class="bullet">
              <p>Project based for pratice Python with Django framework</p>
            </ul>
          </div>
        </div>
        
      </div> 
      
    </div>
  </footer> 
  <!-- .site-footer -->