{% extends 'base.html' %}
{% load static %}
{% block context %}

<div class="hero">
    <div class="slides">
     
      <li data-bg-image="{% static 'img/slide-1.jpg' %}" class="flex-active-slide" style="background-image: url({% static 'img/slide-1.jpg' %}); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.6s ease 0s; z-index: 2;">
        <div class="container">
          <div class="slide-content">
            <small class="slide-subtitle">IGREJA SEDE</small>
            <h2 class="slide-title">Place for all</h2>

            <a href="#/" class="button">See our members and churchs</a>
          </div>
        </div>
      </li>

    </div>
  </div>
{{eventos}}
  <main class="main-content">
    <div class="fullwidth-block">
      <div class="container">
        <h2 class="section-title">Novidades Rescentes</h2>

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="news">
              <image class="news-image" src="{% static 'img/news-thumb-2.jpg' %}"></image>
              <h3 class="news-title"><a href="#/">Novidade 1</a></h3>
              <small class="date"><i class="fa fa-calendar"></i>Data</small>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="news">
              <image class="news-image" src="{% static 'img/news-thumb-2.jpg' %}"></image>
              <h3 class="news-title"><a href="#/">Novidade 2</a></h3>
              <small class="date"><i class="fa fa-calendar"></i>Data</small>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="news">
              <image class="news-image" src="{% static 'img/news-thumb-2.jpg' %}"></image>
              <h3 class="news-title"><a href="#/">Novidade 3</a></h3>
              <small class="date"><i class="fa fa-calendar"></i>Data</small>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="news">
              <image class="news-image" src="{% static 'img/news-thumb-2.jpg' %}"></image>
              <h3 class="news-title"><a href="#/">Novidade 4</a></h3>
              <small class="date"><i class="fa fa-calendar"></i>Data</small>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- section -->

    <div class="fullwidth-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-title">Proximos eventos</h2>
            <ul class="event-list">
              <li>
                <a href="#/">
                  <h3 class="event-title">Evento 1</h3>
                  <span class="event-meta">
                    <span><i class="fa fa-calendar"></i>data</span>
                    <span><i class="fa fa-map-marker"></i> Africa</span>

                  </span>
                </a>
              </li>
              <li>
                <a href="#/">
                  <h3 class="event-title">Evento 1</h3>
                  <span class="event-meta">
                    <span><i class="fa fa-calendar"></i>data</span>
                    <span><i class="fa fa-map-marker"></i> igreja1</span>

                  </span>
                </a>
              </li>
              <li>
                <a href="#/">
                  <h3 class="event-title">Evento 2</h3>
                  <span class="event-meta">
                    <span><i class="fa fa-calendar"></i>data</span>
                    <span><i class="fa fa-map-marker"></i> igreja3 </span>

                  </span>
                </a>
              </li>
              <li>
                <a href="#/">
                  <h3 class="event-title">Evento 3</h3>
                  <span class="event-meta">
                    <span><i class="fa fa-calendar"></i>data</span>
                    <span><i class="fa fa-map-marker"></i>igreja 3</span>

                  </span>
                </a>
              </li>
              <li>
                <a href="#/">
                  <h3 class="event-title">Evento 4</h3>
                  <span class="event-meta">
                    <span><i class="fa fa-calendar"></i>data</span>
                    <span><i class="fa fa-map-marker"></i> igreja14</span>

                  </span>
                </a>
              </li>
              <li>
                <a href="#/">
                  <h3 class="event-title">Evento 5</h3>
                  <span class="event-meta">
                    <span><i class="fa fa-calendar"></i>data</span>
                    <span><i class="fa fa-map-marker"></i> igreja15</span>

                  </span>
                </a>
              </li>
            </ul>

            <div class="text-center">
              <a href="{% url 'eventos' %}" class="button">Veja todos os eventos</a>
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="section-title">Latest seremons</h2>
            <ul class="seremon-list">
              <li>
                <img src="#/" alt="">
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#/">tema</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> Pastor</div>
                    <div class="date"><i class="fa fa-calendar"></i> data</div>
                  </div>
                </div>
              </li>
              <li>
                <img src="#/" alt="">
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#/">tema</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> Pastor</div>
                    <div class="date"><i class="fa fa-calendar"></i> data</div>
                  </div>
                </div>
              </li>
              <li>
                <img src="#/" alt="">
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#/">tema</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> Pastor</div>
                    <div class="date"><i class="fa fa-calendar"></i> data</div>
                  </div>
                </div>
              </li>
            </ul>

            <div class="text-center">
              <a href="{% url 'cultos' %}" class="button">Veja todos os cultos</a>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- section -->
  </main> <!-- .main-content -->
{% endblock %}