{% extends 'base.html' %}
{% load static %}
{% block context %}

<div class="hero">
    <div class="slides">
     
      <li data-bg-image="{% static 'img/slide-1.jpg' %}" class="flex-active-slide" style="background-image: url({% static 'img/slide-1.jpg' %}); width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; transition: opacity 0.6s ease 0s; z-index: 2;">
        <div class="container">
          <div class="slide-content">
            <small class="slide-subtitle">IGREJA SEDE</small>
            <h2 class="slide-title">Place for all</h2>

            <a href="#/" class="button">See our members and churchs</a>
          </div>
        </div>
      </li>

    </div>
  </div>

  <main class="main-content">
    <div class="fullwidth-block">
      <div class="container">
        <h2 class="section-title">Novidades Rescentes</h2>

        <div class="row">
          {% if novidades %}
          {% for novidade in novidades %}
          <div class="col-md-3 col-sm-6">
            <div class="news">
              <image class="news-image" src="{% static 'img/news-thumb-2.jpg' %}"></image>
              <h3 class="news-title"><a href="#/">{{novidade.titulo}}</a></h3>
              <small class="date"><i class="fa fa-calendar"></i>{{novidade.created_at}}</small>
            </div>
          </div>
          {% endfor %}
          {% else %}
          <center><h1 style="margin-top: 20px;">Nenhuma novidade registrada no momento</h1></center>
          {% endif %}
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- section -->

    <div class="fullwidth-block">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="section-title">Proximos eventos</h2>
            <ul class="event-list">
            {% if eventos %} 
            {% for evento in eventos %}
            <li>

                <a href="#/">
                  <h3 class="event-title">Evento 1</h3>
                  <span class="event-meta">
                    <span><i class="fa fa-calendar"></i>data{{evento.nome}}</span>
                    <span><i class="fa fa-map-marker"></i> Africa</span>
                  </span>
                </a>
            
              </li>    
            {% endfor %}
            {% else %}
              <p>Nenhum evento confirmado</p>
             {% endif %}
            </ul>

            <div class="text-center">
              <a href="{% url 'eventos' %}" class="button">Veja todos os eventos</a>
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="section-title">Latest seremons</h2>
            <ul class="seremon-list">
              {% if cultos %}
              {% for culto in cultos %}
              <li>
                <img src="#/" alt="">
                <div class="seremon-detail">
                  <h3 class="seremon-title"><a href="#/">tema{{culto.nome}}</a></h3>
                  <div class="seremon-meta">
                    <div class="pastor"><i class="fa fa-user"></i> Pastor</div>
                    <div class="date"><i class="fa fa-calendar"></i> data</div>
                  </div>
                </div>
              </li>
              {% endfor %}
              {% else %}
              <p>Nenhum culto no momento</p>
              {% endif %}
            </ul>

            <div class="text-center">
              <a href="{% url 'cultos' %}" class="button">Veja todos os cultos</a>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- section -->
  </main> <!-- .main-content -->
{% endblock %}