{% extends 'base.html' %}
{% block title %}
    Bem-Vindo
{% endblock %}
{% block context %}
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card" class="cardIgreja">
        <img src="#"  class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 1</h5> 
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>
          
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 2</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 3</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 4</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class = "card-img" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 5</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 6</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 7</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 8</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="#" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Igreja 9</h5>
          <p class="card-text">There are many variations of passages of Lorem Ipsum available, but the majority have words which don't look even slightly believable.</p>              </div>
      </div>
    </div>
  </div>
{% endblock %}