<!-- end #menu -->
<div id="menu-wrapper">
    <div id="menu">
        <ul>
            <li class="current_page_item"><a href="{% url 'Home' %}">Homepage</a></li>
            <li><a href="{% url 'listagemigrejaHtml' %}">Igreja</a></li>
            <li><a href="{% url 'ListcelulaHtml' %}">Celulas</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
    <!-- end #menu -->

    <!-- #menu -->
</div>
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="#">Projeto <span>Igreja</span></a></h1>
        </div>
    </div>
</div>