<!-- end #menu -->
<div id="menu-wrapper">
    <div id="menu" style="display: flex;">
        <div>
        <ul>
            <li class="current_page_item"><a href="{% url 'Home' %}">Homepage</a></li>
            <li><a href="{% url 'igrejas' %}">Igrejas</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
        </div>

        <div style="margin-left: 20px; margin-top: 8px">
            <form class="form-inline ml-3" action="{% url 'IgrejaFiltro' %}", method="GET">
            <div class="input-group">
                <input type="text" name="nome" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
                </div>
            </div>
            </form>
        </div>

        <div style="margin-bottom: 20px">
            <li>
            {% if request.user.is_authenticated and request.user.first_name %}
                <li class="nav-item dropdown">
            <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown">
                Welcome {{ request.user.first_name }}{{ username }} <i class="fas fa-user circle"></i>
            </a>
{#                <div class="dropdown-menu">#}
{#                        <a class="dropdown-item" href="{% url 'order_history' %}">Order history</a>#}
{#                </div>#}
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signout' %}">
                        Sign Out <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signup' %}">
                        Sign Out <i class="fas fa-user-plus"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signin' %}">
                        Sign In <i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
            {% endif %}
        </div>

    </div>
    <!-- end #menu -->

    <!-- #menu -->
</div>
<div id="header-wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="#">Projeto <span>Igreja</span></a></h1>
        </div>
    </div>
</div>