{% extends 'base.html' %}
{% load bootstrap4 %}
{% block context %}
    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Identificacao igreja</th>
            <th scope="col">cpf</th>
            <th scope="col">telefone</th>
            <th scope="col">email</th>
            <th scope="col">aniversario</th>
            <th scope="col">acao</th>
        </tr>
        </thead>

        <tbody>
        {% for registroP in RegistrosP %}

            <tr>
                <td>{{ registroP.nome_completo }}</td>
                <td>{{ registroP.status }}</td>
                <td>{{ registroP.identificacao_igreja }}</td>
                <td>{{ registroP.cpf }}</td>
                <td>{{ registroP.telefone }}</td>
                <td>{{ registroP.email }}</td>
                <td>{{ registroP.aniversario }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'pessoalAtualizar' registroP.pk %}" >Editar</a>
                    <a class="btn btn-danger" href="{% url 'pessoalDeletar' registroP.pk %}" >Deletar</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>

    </table>
    <a class="btn btn-success" href="{% url 'pessoalAdicionar' %}">Adicionar</a>
{% endblock %}