<div class="sidenav">

  <ul>
  <h3 style="text-decoration: underline;color: white">Listas</h3>
  <li style="list-style-type: none;margin-right: 50px;padding: 0px"><a href="{% url 'igrejaHtml' %}">Igrejas</a></li>
  <li style="list-style-type: none;margin-right: 50px;padding: 0px"><a href="{% url 'celulaHtml' %}">Celulas</a></li>
  <li style="list-style-type: none;margin-right: 50px;padding: 0px"><a href="{% url 'liderHtml' %}">Lideres</a></li>
  </ul>

  <ul>
  <h3 style="text-decoration: underline;color: white; margin-right: 50px">Mocidade</h3>
  <li style="list-style-type: none;margin-right: 50px;padding: 0px"><a href="{% url 'mocidade' %}">Jovens</a></li>
  <li style="list-style-type: none;margin-right: 50px;padding: 0px"><a href="{% url 'novatos' %}">Novatos</a></li>
  </ul>

  <ul>
  <h3 style="text-decoration: underline;color: white">Atividades</h3>
  <li style="list-style-type: none;margin-right: 50px;padding: 0px"><a href="#">Eventos</a></li>
  <li style="list-style-type: none;margin-right: 50px;padding: 0px"><a href="#">Registros</a></li>
  </ul>

</div>