{% extends 'base.html' %}

{% block context %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <a class="navbar-brand" href="{% url 'jovens' %}">Todos os jovens </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#            Categoria#}
{#          </a>#}
{#            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#            {% for ministerio in ministerios %}#}
{#            <li><a class="dropdown-item" href="#">{{ ministerio.ministerio}}</a></li>#}
{#            {% endfor %}#}
{#            </ul>#}
{#        </li>#}

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Procure a igreja" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

    {% for igreja in igrejas %}
    <div class="card-deck">
            <div class="card" >
{#                <img class="card-img-top" src="..." alt="Card image cap">#}
                <div class="card-body">
                    <h5 class="card-title">{{ igreja.nome }}</h5>

                    <a href="{% url 'mocidadelista' igreja.id %}" class="btn btn-primary btn-sm">Mocidade Lista</a>
                </div>
            </div>

    </div>
    {% endfor %}
{% endblock %}