{% extends 'base.html' %}
{% load static %}
{% block context %}
<main class="main-content">
<div class="fullwidth-block">
<div class="container">
<div class="row">
<div class="content col-md-12">
<div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
<div>
<h2 class="section-title">Lista de jovens</h2>
</div>
<div>
<form class="form-inline ml-3" action="{% url 'jovem_search' %}", method="GET">
</div>
</form>
</div>
<div class="row">
{% if jovens %}
{% for jovem in jovens %}
<div class="family">
<a href="{% url 'jovem' jovem.id %}">
<h2><i class="fas fa-church"></i> {{jovem.igreja}}</h2>
<img src="{% static 'img/news-thumb-2.jpg' %}" alt="" class="family-image">
<h3 class="family-name"><i class="fas fa-user"></i> {{jovem.nome}}</h3>
</a>
<small><i class="fas fa-users"></i> {{jovem.celula}}</small>
</div>
{% endfor %}
{% else %}
<div>
<h1>Nenhum jovem registrado</h1>
</div>
{% endif %}
</div>
</div>
</div>
<!-- paage simple -->
<div class="pagination" style="display: flex; justify-content: center; align-items: baseline;">
<div >
{% if jovens.has_previous %}
<a href="?p={{ jovens.previous_page_number }}">previous</a>
{% endif %}
 </div>
 &nbsp
 &nbsp
<nav aria-label="Page navigation exemple">
<ul class="pagination">
{% for pagina in jovens.paginator.page_range %}
{% if jovens.number == pagina %}
<li class="page-item active"><a class="page-link" href="?p={{ pagina }}">
{{pagina}}</a>
</li>
{% else %}
<li class="page-item"><a class="page-link" href="?p={{ pagina }}">
{{pagina}}</a></li>
{% endif %}
 {% endfor %}
</ul>
</nav>
&nbsp
&nbsp
<div>
{% if jovens.has_next %}
<a href="?p={{ jovens.next_page_number }}">next</a>
{% endif %}
</span>
</div>
<!-- endpage -->
</div>
</div>
</main>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}