{% extends 'base.html' %}
{% load static %}
{% block context %}

<main class="main-content">
  <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="content col-md-12">
                  
                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                
                <div>
                  <h2 class="section-title">Lista de jovens</h2>  
                </div>
                
                <div>  
                  <form class="form-inline ml-3" action="{% url 'jovem_search' %}", method="GET">
                    <div class="input-group">
                        <input type="text" name="nome" class="form-control" placeholder="Procurar membro">
                        <div class="input-group-append">
                            <button type="submit" class="btn"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </div>
                  </form>
                  </div>  
                    <div class="row">
                        {% if jovem_search %}
                        {% for jovem in jovem_search %}
                        <div class="family">
                            <h2>{{jovem.igreja}}</h2>
                            <img src="{% static 'img/news-thumb-2.jpg' %}" alt="" class="family-image">
                            <h3 class="family-name">{{jovem.nome}}</h3>
                            <small>{{jovem.celula}}</small>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            <h1>Nenhum jovem com esse nome</h1>
                        </div>
                        {% endif %}
                    </div>
                </div>
        </div>
        </div>
    </div>
</main> <!-- .main-content -->

</div>

{% endblock %}

{% block script %}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/funcoes.ajax.js' %}"></script>
{% endblock %}