{% extends 'base.html' %}
{% load bootstrap4 %}
{% block context %}
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Funcao</th>
            <th scope="col">Celula Atual</th>
            <th scope="col">Registro de Dados</th>
            <th scope="col">Acao</th>
        </tr>
        </thead>

        <tbody>
        {% for jovem in jovens %}
            <tr>
                <td>{{ jovem.nome }}</td>
                <td>{{ jovem.celula }}</td>
                <td>{{ jovem.igreja }}</td>
                <td>{{ jovem.ministerio }}</td>
                <td>
                    <a class="btn btn-warning" href="{% url 'jovemAtualizar' jovem.id %}" >Editar</a>
                    <a class="btn btn-danger" href="{% url 'jovemDeletar' jovem.id %}" >Deletar</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>

    </table>

{% endblock %}