{% extends 'base.html' %}
{% load bootstrap4 %}

{% block context %}
    <div>
          <form class="form-inline ml-3" action="{% url 'filtronovato' %}", method="GET">
            <div class="input-group">
                <input type="text" name="nome" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>
    <br>
    <table class="table table-striped">

        <thead>
        <tr>
            <th scope="col">Nome</th>
{#            <th scope="col">Igreja</th>#}
{#            <th scope="col">Celula Atual</th>#}
            <th scope="col">Acao</th>
        </tr>
        </thead>

        <tbody>
        {% if novatos %}
        {% for novato in novatos %}

            <tr>
                <td>{{ novato.nome }}</td>
{#                <td>{{ novato.igreja_participante }}</td>#}
{#                <td>{{ novato.celular_participante }}</td>#}
                <td>
                    <a class="btn btn-warning" href="{% url 'novatoAtualizar' novato.pk %}" >Editar</a>
                    <a class="btn btn-danger" href="{% url 'novatoDeletar' novato.pk %}" >Deletar</a>
                </td>
            </tr>

        {% endfor %}
        {% endif %}
        </tbody>

    </table>
    <a class="btn btn-success" href="{% url 'novatocreate' %}">Adicionar</a>
{% endblock %}