{% extends 'base.html' %}
{% load bootstrap4 %}

{% block context %}
    <center>
    <form method="post" style="margin-top: 70px">
    {% csrf_token %}
    <p>Tem certeza que deseja deletar o novato? "{{ object }}"?</p>
        {% buttons %}
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <button type="submit" class="btn btn-warning">
                <a href="{% url 'Novatos' %}">Cancelar</a>
            </button>
        {% endbuttons %}
    </form>
    </center>
{% endblock %}